<a href="https://colab.research.google.com/github/Ansh3931up/DS_Assignment/blob/main/assignment_pwskills_data_structure_advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write a code to reverse a string.

In [ ]:
string="ANshkumar"
print(string[::-1])

ramukhsNA


Q2. Write a code to count the number of vowels in a string.

In [ ]:
from types import coroutine
vowels='aeiouAEIOU'
string="ANshKumar"
count=0
for s in string:
  if s in vowels:
    count+=1

print(count)

3


Q3. Write a code to check if a given string is a palindrome or not.

In [ ]:
#for palindrome it string should be same when read from front to back and from back to front
string1='ANshHsNa'
string2='anshhsna'

if(string1==string1[::-1]):
  print('string1 is palindrome')
else:
  print('string1 is not a palindrome')

if(string2==string2[::-1]):
  print('string2 is palindrome')
else:
  print('string2 is not a palindrome')

string1 is not a palindrome
string2 is palindrome


Q4. Write a code to check if two given strings are anagrams of each other.

In [ ]:
string1 = "listen"
string2 = "silent"
if(sorted(string1)==sorted(string2)):
  print("string1 and string2 both are anagrams")
else:
  print('string1 and string2 are not anagrams')

string1 and string2 both are anagrams


Q5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
def find_all_occurrences(s, sub):
    return [i for i in range(len(s)) if s.startswith(sub, i)]

string = "hello hello"
substring = "lo"
print(find_all_occurrences(string, substring))

[3, 9]


Q6. Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def compressed(s):
  compressed=[]
  count=1
  for i in range(1,len(s)):
    if (s[i]==s[i-1]):
      count+=1
    else:
      compressed.append(s[i-1]+str(count))
      count=1
  compressed.append(s[-1] + str(count))
  return ''.join(compressed)

string='aaabbbbbcccddeffghldkkkk'
print(compressed(string))

a3b5c3d2e1f2g1h1l1d1k4


Q7. Write a code to determine if a string has all unique characters.

In [ ]:
string4="abcdefghijklmnopqurst"
if(len(string4)==len(set(string4))):
  print("Yes it's unique")
else:
  print("not unique")

Yes it's unique


Q8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
string1="anshkuamr"
print(string1.upper())
print(string1.lower())

ANSHKUAMR
anshkuamr


Q9. Write a code to count the number of words in a string.

In [ ]:
string10=" Hello guys how are you all majadar time hai na "
count=1
string10=string10.strip()
for i in string10:
  if i==" ":
    count+=1
print(count)

10


Q10. Write a code to concatenate two strings without using the `+` operator.

In [ ]:
def concat(str1,str2):
  return "{}{}".format(str1,str2)

s1="heelo"
s2=" ji"
concat(s1,s2)

'heelo ji'


Q11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def remove_all(ls,s):
  return[x for x in ls if x!=s ]

s1=[1,2,3,4,5,5,2,6]
s=2
remove_all(s1,s)

[1, 3, 4, 5, 5, 6]


Q12. Implement a code to find the second largest number in a given list of integers.

In [ ]:
def second_largest(ls):
  st=set(ls)
  st=sorted(st,reverse=True)
  return st[1]

l2=[1,23,4,5,66,7,73,23,4,21,3,41,12,213,42]
second_largest(l2)

73


Q13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
def occur(ls):
  ls=sorted(ls)
  dict={}
  count=1
  for i in range(1,len(ls)):
    if(ls[i]==ls[i-1]):
      count+=1
    else:
      dict[f"{ls[i-1]}"]=count
      count=1
  dict[f"{ls[-1]}"]=count
  return dict

l1=[1,2,3,4,4,5,2,4,3,1,4,2,5,6,7,8]
print(occur(l1))

{'1': 2, '2': 3, '3': 2, '4': 4, '5': 2, '6': 1, '7': 1, '8': 1}


Q14. Write a code to reverse a list in-place without using any built-in reverse functions.


Q15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.


Q16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.


Q17. Write a code to merge two sorted lists into a single sorted list.


Q18. Implement a code to find the intersection of two given lists.

In [ ]:
def intersection(l1,l2):
  s1=set(l1)
  s2=set(l2)
  return (s1 & s2)

li1=[1,2,3,4,5,6,7]
li2=[2,4,6,8,10,12]
print(intersection(li1,li2))

{2, 4, 6}


Q19. Create a code to find the union of two lists without duplicates.


Q20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.


Q21. Write a code that takes two tuples as input and returns a new tuple containing elements common to both input tuples.

In [ ]:
def comm_tuple(tup1,tup2):
  return tuple(set(tup1) & set(tup2))

t1=(1,2,3)
t2=(2,3,4)
comm_tuple(t1,t2)

(2, 3)


Q22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.


Q23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concat_tuple(tup1,tup2):
  return tup1+tup2

t1=(1,2,3)
t2=(2,3,4)
print(concat_tuple(t1,t2))

(1, 2, 3, 2, 3, 4)

Q24. Develop a code that prompts the user to input two sets of strings. Then print the elements that are present in the first set but not in the second set.

Q25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

Q26. Write a code that prompts the user to input two sets of characters. Then print the union of these two sets.

Q27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.


Q28. Create a code that defines two sets of integers. Then print the union, intersection, and difference of these two sets.


Q29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.


Q30. Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of these two sets.


Q31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.


Q32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.


Q33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return `None`.


Q34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.


Q35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.